COOKIE_SECRET="OtLd0XJLbhntuoRtpQMlfSQc/wr8hU2z4yTPrNhiBXs/OJPzyf/06B2lFDzx/PI+OUMdWYl1pQxL9LOLLH13qHT8oy9ckfLSkQgCBiln2ttiiR/jtyijEFVL8tv3IGKcCaTTXF/moy6D0aTCKfYwMkoOLG34c7wIyWMhBZSCmKnks8Moif0cr1SiG0uNZkilsRknquHgRagVkCZWoHX6YnUJ5zEhpR34BnZXNg=="
BASE_URL="http://localhost:3000"
CI=false

# Redis
REDIS_URL=

# Database
DATABASE_URL="mysql://root@localhost:3306/devparty"

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Mail
MAIL_FROM_ADDRESS=""
MAIL_HOST=""
MAIL_USERNAME=""
MAIL_PASSWORD=""

# NFT
MAINET_CONTRACT_ADDRESS=""
RINKEBY_CONTRACT_ADDRESS="0x05A621Ac691382Ea793CDFfA83D15B382b87F2a4"
MATIC_CONTRACT_ADDRESS=""
MUMBAI_CONTRACT_ADDRESS="0x3951d3Bfcb59133Ae650D36Df7a0aDB740C4d8F7"
